@import '/src/sass/variables.module.scss';
@import '/src/sass/mixins.scss';

.card--title {
    margin: 12px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: $colorFontLight;
}

.answer--container {
    width: 560px;
    min-height: 313px;
    max-height: 500px;
    padding: 15px 10px;

    @include vp-767 {
        width: 88vw;
        padding: 5px;
    } 

    @include vp-374 {
        padding: 5px;
        width: 86vw;
    }
}

.edit-buttons--container {
    position: absolute;
    right: 290px;
    top: 63px;

    @include vp-1023 {
        right: 200px;
    } 

    @include vp-767 {
        right: 195px;
    } 
}