@import '/src/sass/variables.module.scss';
@import '/src/sass/mixins.scss';

.activation-request--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;

    @include vp-1023 {
        width: 400px;
    } 
}

.activation-request--caption {
    color: $colorFontLight;
    font-size: 32px;
    font-weight: 300;
    margin: 40px auto;
    text-align: center;

    @include vp-1023 {
        font-size: 22px;
        margin: 22px auto;
    } 
}

.activation-request--text {
    color: $colorFontWhite;
    font-size: 20px;
    text-align: center;
    margin: 10px;

    @include vp-1023 {
        font-size: 16px;
        margin: 6px;
    } 
}

.activation-request--email {
    color: $colorFontLight;
}
