@import '/src/sass/variables.module.scss';
@import '/src/sass/mixins.scss';

.main-page--container {
    display: flex;
    flex-direction: column;
}

.main-page--caption {
    color: $colorFontLight;
    font-size: 52px;
    font-weight: 300;
    margin: 40px auto;
    margin-bottom: 10px;
    text-align: center;

    @include vp-1023 {
        font-size: 32px;
        margin: 22px auto;
    } 

    @include vp-767 {
        font-size: 24px;
    } 

    @include vp-374 {
        font-size: 18px;
    } 
}

.main-page--advantage__container {
    user-select: none;
    display: flex;
    align-items: center;

    color: #9fc6ff;
    font-size: 58px;
    font-weight: 300;
    margin: 30px auto 25px 40px;

    @include vp-1023 {
        font-size: 48px;
        margin: 25px auto 15px 35px;
    } 

    @include vp-767 {
        font-size: 34px;
        margin-left: 25px;
        margin: 20px auto 5px 27px;
    } 

    @include vp-424 {
        font-size: 32px;
        margin: 15px auto 5px 20px;
    } 

    @include vp-374 {
        font-size: 29px;
        margin: 15px 15px 5px 15px;
    } 
}

.main-page--advantage__text {
    margin: 0px auto 0px 20px;
    display: block;
    text-align: left;
    font-size: 30px;
    color: $colorFontWhite;

    background-color: #6e99d7;
    padding: 8px;
    border-radius: 13px;
    border: 2px solid #d2bbbb;

    @include vp-1023 {
        font-size: 22px;
        margin-left: 15px;
    } 

    @include vp-767 {
        border-radius: 8px;
        font-size: 13px;
        margin-left: 10px;
        border: 1px solid #d2bbbb;
    } 

    @include vp-424 {
        border-radius: 6px;
        font-size: 11px;
        margin-left: 8px;
    } 

    @include vp-374 {
        padding: 4px;
        font-size: 11px;
        margin-left: 7px;
    } 
}

.main-page--suggest__text {
    margin: 0px 10px 0px 80px;
    display: block;
    text-align: left;
    font-size: 20px;
    color: $colorFontWhite;

    padding: 8px;

    @include vp-1023 {
        font-size: 18px;
        margin-left: 60px;
    } 

    @include vp-767 {
        font-size: 15px;
        margin-left: 40px;
    } 

    @include vp-599 {
        font-size: 12px;
    } 

    @include vp-499 {
        font-size: 14px;
        padding: 0px;
        margin-left: 45px;
    } 

    @include vp-424 {
        font-size: 12px;
    } 

    @include vp-374 {
        font-size: 11px;
        margin-left: 37px;
    } 

    @include vp-319 {
        margin-left: 24px;
    } 
}

.main-page--suggest__link {
    color: $colorFontWhite;
    padding: 5px;
    box-sizing: border-box;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 30px;
        left: 6px;
        display: block;
        width: 290px;
        height: 1px;
        background-color: $colorFontWhite;
    }

    &:hover {
        color: $colorFontLight;

        &::after {
            height: 2px;
            background-color: $colorFontLight;
        }
    }

    @include vp-1023 {
        margin-top: 6px;

        &::after {
            width: 260px;
        }
    } 

    @include vp-767 {
        &::after {
            top: 25px;
            width: 215px;
        }
        
    } 

    @include vp-599 {
        &::after {
            top: 21px;
            left: 6px;
            width: 173px;
        }
    } 

    @include vp-499 {
        padding: 0px;
        display: block;

        &::after {
            top: 19px;
            left: 2px;
            width: 200px;
        }
    } 

    @include vp-424 {
        &::after {
            top: 16px;
            left: 1px;
            width: 173px;
        }
    } 

    @include vp-374 {
        &::after {
            top: 15px;
            width: 158px;
        }
    } 
}


