@import '/src/sass/variables.module.scss';
@import '/src/sass/mixins.scss';

.collection-page--container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.collection-data--container {
    display: flex;
    margin-top: -15px;
}

.collection-page--caption {
    color: $colorFontLight;
    font-size: 52px;
    font-weight: 300;
    margin: 40px auto;
    text-align: center;

    @include vp-1023 {
        font-size: 32px;
        margin: 22px auto;
    } 

    @include vp-767 {
        font-size: 22px;
        margin: 20px auto;
    } 

    @include vp-374 {
        font-size: 18px;
        margin: 15px auto;
    } 
}

.repeat-menu--button-wrapper {
    display: flex;
    flex-direction: row;
    width: max-content;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
  }